body {
	background: url(../imgs/form-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#login {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border-style: solid;
	border-color: aliceblue;
	background-repeat: no-repeat;
	background-color: white;
	background-size: contain;
}

#info {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: large;
}

#tabs li a {
	font-weight: 600;
}

form label {
	font-weight: 600;
}

@media screen and (max-width:700px) {
	#login {
		width: 90%;
	}
}